{% extends "layout.njk" %}

{% block content %}

<h2>Add Item</h2>

<form action="/add" method="POST">

    <input
        class="form-control mb-2"
        name="name"
        placeholder="Name"
    >

    <input
        class="form-control mb-2"
        name="price"
        placeholder="Price"
    >

    <input
        class="form-control mb-2"
        name="stock"
        placeholder="Stock"
    >

    <input
        class="form-control mb-2"
        name="category"
        placeholder="Category"
    >

    <button class="btn btn-success">
        Save
    </button>

</form>

{% endblock %}