{% extends "layout.njk" %}

{% block content %}

<h2>Edit Item</h2>

<form action="/update/{{ item._id }}" method="POST">

    <input
        class="form-control mb-2"
        name="name"
        value="{{ item.name }}"
    >

    <input
        class="form-control mb-2"
        name="price"
        value="{{ item.price }}"
    >

    <input
        class="form-control mb-2"
        name="stock"
        value="{{ item.stock }}"
    >

    <input
        class="form-control mb-2"
        name="category"
        value="{{ item.category }}"
    >

    <button class="btn btn-primary">
        Update
    </button>

</form>

{% endblock %}